* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-nav {
  background-color: #FF8800;
  width: 1440px;
  height: 107px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  
}

#main-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('/imagens/home/main-banner.jpg');
  background-size: cover;
  background-position: 28% 62%;
  background-repeat: no-repeat;
  width: 1440px;
  height: 557px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#main-banner h1 {
  font-family: 'Inter', sans-serif;
  color: rgba(240,240,240,1);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}



#area-destaques{
  background-color: rgba(240, 240, 240, 1);
  width: 1440px;
  height: 591px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}

#promocao-area{
  background-color: gray;
  width: 1440px;
  height: 389px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
}

#sobre-espaco{
  background-color: lightyellow;
  width: 1440px;
  height: 1041px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
}

#main-footer{
  background-color: orange;
  width: 1440px;
  height: 350px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
}
.destaque-no-titulo{
  color: #FF8800;
}

.slogan{
  font-size: 24px;
  line-height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgba(229,229,229,1);
  
}

.botao-reserva{
  background-color: rgba(225,113,0,1);
  color: rgba(240,240,240,1);
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 200px;
  height: 60px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
}

.title-destaques{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  color: rgba(38,38,38,01);
  margin-bottom: 20px;
  
}


.img-carousel{
  width: 800px;
  height: 500px;
  object-fit: cover;
  
}

.cards-container{
  background: background: rgba(240, 240, 240, 1);
  width: 1120px;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;

}

.card1,.card2,.card3,.card4 {
  background-color: rgba(255, 255, 255, 1);
  width: 268px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 30px;

  
}
.cards-title{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  padding-top: 5px;
  font-weight: 600;
  line-height: 28px;
  

}

.cards-texts{
  color: rgba(96, 96, 96, 1);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-left: 15px;

}

h1 { 
  font-size: 64px;
}