* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('/imagens/home/main-banner.jpg');
  background-size: cover;
  background-position: 28% 62%;
  background-repeat: no-repeat;
  width: 1440px;
  height: 557px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#main-banner h1 {
  font-family: 'Inter', sans-serif;
  color: rgba(240,240,240,1);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

#area-destaques{
  background-color: rgba(240, 240, 240, 1);
  width: 1440px;
  height: 591px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

#promocao-area{
  width: 1440px;
  height: 389px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  background: linear-gradient(
    to right, 
    #4C3722 0%, 
    #805C39 2%,
    #805C39 5%,
    #FFC489 15%,
    #805C39 40%, 
    #805C39 45%,
    #FFC489 80%,   
    #805C39 98%,  
    #4C3722 100%
  );
  box-shadow: inset 0 0 100px rgba(0,0,0,0.4);
}

#sobre-espaco{
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1088px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly
}

#main-footer{
  background: rgba(38, 38, 38, 1);
  width: 1440px;
  height: 350px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
}

.destaque-no-titulo{
  color: rgba(225, 113, 0, 1);
}

.slogan{
  font-size: 24px;
  line-height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgba(229,229,229,1);
}

.botao-reserva{
  background-color: rgba(225,113,0,1);
  color: rgba(240,240,240,1);
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 200px;
  height: 60px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
}

.title-destaques{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  color: rgba(38,38,38,01);
  margin-bottom: 20px;
}

.cards-container{
  background: background: rgba(240, 240, 240, 1);
  width: 1120px;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.card1,.card2,.card3,.card4 {
  background-color: rgba(255, 255, 255, 1);
  width: 268px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 30px;
}

.cards-title{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  padding-top: 5px;
  font-weight: 600;
  line-height: 28px;
}

.cards-texts{
  color: rgba(96, 96, 96, 1);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-left: 15px;
}

.promocao-conteudo{
  background-color: transparent;
  width: 448px;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.promocao-conteudo h2{
  font-family: 'Inter', sans-serif;
  color:rgba(255, 255, 255, 1);
  font-weight: 900;
  font-style: Italic;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-bottom: 30px;
}

.promocao-conteudo h3{
  font-family: 'Inter', sans-serif;
  color:rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: Italic;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.7px;
}

.promo-desconto{
  font-family: 'Inter', sans-serif;
  color:rgba(255, 255, 255, 1);
  font-weight: 500;
  font-style: Italic;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.7px;
}

.promo-destaque{
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  color: rgba(255, 185, 0, 1);
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.7px;
  background-color:rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.promo-stars{
  color: rgba(255, 185, 0, 1);
}

.container-pratos{
  width: 556px;
  height: 308px;
  position: relative;
  overflow: hidden;
  
}
.container-pratos figure{
  position: absolute;
  margin: 0; 
  padding: 0;
}

.container-pratos figure img{
  width: 300px;
  height: 154px;
  object-fit: cover;
  display: block;
}

.container-pratos figure#prato1{
  bottom: 0;
  right: 0;
  z-index: 1;
}

.container-pratos figure#prato2{
  top: 0;
  right: 0;
  z-index: 2;
}

.container-pratos figure#prato3{
  top: 80px;
  left: 0;
  z-index: 3;
}

.carousel-title{ 
  font-size: 64px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: Bold;
  line-height: 36px;
  color: rgba(38, 38, 38, 1);
}

.slides-container{
  position: relative;
}
.slides-wrapper {
  width: 1118px;
  height: 650px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides-wrapper img{
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

.slider-nav{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
  bottom: 1.25rem;
  z-index: 1;
}
.slider-nav a{
  margin-top: 20px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: rgba(212, 212, 212, 1);
  display: inline-block;
  transition: background 0.3s ease;
}

.slider-nav a.active {
  background-color: rgba(225, 113, 0, 1);
}