* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#main-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('/imagens/home/main-banner.jpg');
  background-size: cover;
  background-position: 28% 62%;
  background-repeat: no-repeat;
  width: 100%;
  height: 557px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#main-banner h1 {
  color: rgba(240,240,240,1);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

#area-destaques{
  background-color: rgba(240, 240, 240, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  gap: 10px;
}

#promocao-area{
  width: 100%;
  min-height: 390px;
  display: flex;
  flex-flow: row wrap; 
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  background: 
    radial-gradient(circle at 15% 40%, #FFC489 -15%, transparent 30%), radial-gradient(circle at 75% 50%, #FFC489 -5%, transparent 38%), linear-gradient(180deg, #805C39, #4C3722);
}

#sobre-espaco{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 1088px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly
}

.destaque-no-titulo{
  color: rgba(225, 113, 0, 1);
}

.slogan{
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(229,229,229,1);
}

.botao-reserva{
  background-color: rgba(225,113,0,1);
  color: rgba(240,240,240,1);
  filter: drop-shadow(0px 4px 6px -40px #000000);
  font-size: 24px;
  font-weight: 500;
  width: 200px;
  height: 60px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  
  /* efeito no botao */
  transition: transform 0.5s ease;
}

.botao-reserva:hover{
  transform: scale(1.3);
}

.title-destaques{
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  color: rgba(38,38,38,01);
  margin-bottom: 20px;
}

.cards-container{
  background: rgba(240, 240, 240, 1);
  width: 100%;
  min-height: 420px;
  display: flex;
  justify-content: center;
  gap: 24px;
  
}
.card1, .card2, .card3, .card4 {
  background-color: rgba(255, 255, 255, 1);
  max-width: 268px;
  min-height: 420px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 20px;
  border: 4px solid rgba(255, 255, 255, 1);
  transition: border-color 0.5s ease-in-out;
}

.card1:hover,.card2:hover,.card3:hover,.card4:hover{
  cursor: pointer;
  border-color: rgba(225, 113, 0, 1);
}

.cards-title {
  font-size: 24px;
  padding-top: 5px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.cards-texts{
  color: rgba(96, 96, 96, 1);
  font-size: 24px;
  font-weight: 500;
  padding-left: 15px;
}

.promocao-conteudo{
  max-width: 448px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.promocao-conteudo h2,.promocao-conteudo h3,.promo-desconto,.promo-destaque{
  line-height: 20px;
  letter-spacing: 0.7px;
}

.promocao-conteudo h2,.promocao-conteudo h3,.promo-desconto{
  font-style: Italic;
}

.promocao-conteudo h2{
  color:rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.promocao-conteudo h3{
  color:rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 24px;
  
}

.promo-desconto{
  color:rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.promo-destaque{
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 1);
  text-transform: uppercase;
  color: rgba(255, 185, 0, 1);
  font-weight: 600;
  font-size: 13px;
  background-color:rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.promo-stars{
  color: rgba(255, 185, 0, 1);
}

.container-pratos{
  width: 100%;
  max-width: 556px;
  aspect-ratio: 556 / 308;
  position: relative;
  margin: 0;
}
.container-pratos figure{
  position: absolute;
  margin: 0; 
  padding: 0;
  width: 54%;
}

.container-pratos figure img{
  width: 100%;
  height: auto;
  aspect-ratio: 300/154;
  object-fit: cover;
  display: block;
}

.container-pratos figure#prato1{
  bottom: 0;
  right: 0;
  z-index: 1;
}

.container-pratos figure#prato2{
  top: 0;
  right: 0;
  z-index: 2;
}

.container-pratos figure#prato3{
  top: 80px;
  left: 0;
  z-index: 3;
}

.carousel-title{ 
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  line-height: 36px;
  color: rgba(38, 38, 38, 1);
}

.slides-container{
  position: relative;
}
.slides-wrapper {
  width: 1118px;
  height: 650px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.slides-wrapper img{
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

.slider-nav{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  margin-top: 1.5rem;
  bottom: 1.25rem;
  z-index: 1;
}
.slider-nav a{
  margin-top: 20px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: rgba(212, 212, 212, 1);
  display: inline-block;
  transition: background 0.3s ease;
}

.slider-nav a.active {
  background-color: rgba(225, 113, 0, 1);
}

@media screen and (max-width: 768px){
  
  #main-banner{
    height: auto;
    min-height: 273px;
  }
  
  #main-banner h1 {
    font-size: 30px;
  }
  
  .slogan{font-size: 12px;}
  
  .botao-reserva{
    width: auto;
    max-width: 200px;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 35px 1px 35px;
  }
  
  .title-destaques{
    font-size: 32px;
  }
  
  .cards-container{
    min-height: auto;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .card1,.card2,.card3,.card4 {
    width: 90%;
    max-width: 350px;
    height: auto;
    min-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
  }
  
  .img-cards{
    width: 50px;
    height: auto;
    flex-shrink: 0;
  }
  .cards-title{
    font-size: 18px;
    flex: 1;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .cards-texts{
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding-left: 0;
    margin-top: 5px;
  }
  
  #promocao-area {
  padding: 40px 20px;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  }
  
  .promocao-conteudo h2{font-size: 25px;}
  .promocao-conteudo h3{font-size: 18px;}
  .promo-desconto{font-size: 16px;}
  .promo-stars{display: none;}
  
  .container-pratos {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  
  .container-pratos figure#prato3 {
    top: 26%;
  }
  
  #sobre-espaco {
    height: auto;
    padding: 40px 0 60px 0;
  }

  .carousel-title {
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
    
    
  }

  .slides-wrapper {
    width: 80%;
    max-width: 350px;
    height: 250px;
    margin: 0 auto;
  }

  .slides-wrapper img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-nav {
    margin-top: 20px;
    gap: 15px;
  }

  .slider-nav a {
    width: 12px;
    height: 12px;
    margin-top: 0;
  }

  
  
}